/*html*/
html {
  height: 100%
}

/*Body*/
body{
  background-image: linear-gradient(180deg, rgb(69 0 110), rgb(0 0 98));
  color:rgb(194 68 69) !important;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Bootstrap Navbar-Nav */
.navbar-nav {
  --bs-nav-link-color: rgb(194 68 69) !important;
}

/* Top Navbar */
#topNav {
  background-color: rgb(29 7 42);
}

/* Footer */
.footer{
  background-color: rgb(0,0,98) !important;
  margin-top: 20px;
  width: 100%;
}




.classification-top-row{
  margin-right: 50px;
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  
}

/* Popup */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  width: 100%;
  max-width: 560px;
  max-height: 315px;
  background-color: #FFF;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

/*Modal*/

.modal-content {
  background-color: rgba(33, 37, 41) !important;
}

/*BookingConfirmation*/

.confirmationContainer {
  margin: 10px;
}

.confirmationSubContainer {
  background-color: rgb(33, 37, 41);
  border-radius: 15px;
  margin-top: 25px;
  padding: 20px;
  width: 60%;
  height: auto;
<<<<<<< HEAD
}


.Buttons:hover{
  
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;}
=======
}
>>>>>>> 9a12a526103aa0fbadd4e232a34d98edb2f59925
