.card {
  color: #282c34;
  background-image: url(https://st2.depositphotos.com/14560930/42191/i/450/depositphotos_421917918-stock-photo-ivory-beige-marble-texture-background.jpg);
  background-size: cover;
  background-repeat: repeat;
  padding-bottom: 2em;
}





.classification-top-row{
  margin-right: 50px;
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  
}

/* Popup */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  width: 100%;
  max-width: 560px;
  max-height: 315px;
  background-color: #FFF;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

/*Modal*/
.modal-content {
  background-color: rgba(33, 37, 41) !important;
}

/*BookingConfirmation*/

.confirmationContainer {
  margin: 10px;
}

.confirmationSubContainer {
  background-color: rgb(33, 37, 41);
  border-radius: 15px;
  margin-top: 25px;
  padding: 20px;
  width: 60%;
  height: auto;
}


.Buttons:hover{
  
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;}